<header class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 border-bottom">
    <a routerLink="/pages" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="./../../../../../assets/icons/destina_logo.png" alt="">
      <!-- <span class="fs-4">Destina</span> -->
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/pages" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link nav-link-destina" aria-current="page">AnaSayfa</a></li>
      <li class="nav-item"><a routerLink="/pages/about" routerLinkActive="active" class="nav-link nav-link-destina">Hakkımda</a></li>
      <li class="nav-item"><a routerLink="/pages/blog" routerLinkActive="active" class="nav-link nav-link-destina">Blog</a></li>
      <li class="nav-item"><a routerLink="/pages/crew" routerLinkActive="active" class="nav-link nav-link-destina">Takımımız</a></li>
      <li class="nav-item"><a routerLink="/pages/partners" routerLinkActive="active" class="nav-link nav-link-destina">İş Birlikleri</a></li>
      <li class="nav-item"><a routerLink="/pages/contact" routerLinkActive="active" class="nav-link nav-link-destina">İletişim</a></li>
    </ul>
  </header>