<h3>6698 SAYILI KİŞİSEL VERİLERİN KORUNMASI KANUNU KAPSAMINDA İNTERNET SİTESİ KULLANICISI İÇİN AYDINLATMA METNİ</h3>
<h6>Aydınlatma Metni Amacı ve Kapsamı
</h6>
<p>İkonion Hukuk ve Kariyer Derneği olarak 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK” veya “Kanun” olarak
  anılacaktır.) kapsamında kişisel verilerinizin korunması için tedbir almaktayız. Kişisel Verilerinizi, KVKK ve ilgili
  yasal mevzuat kapsamında ve “veri sorumlusu” sıfatımızla aşağıda açıklanan sebeplerle ve yöntemlerle işlemekteyiz.</p>
<p>Kişisel Verilerin İşlenmesi Hakkında Aydınlatma Metni, KVKK’nın 10. maddesinde yer alan “Veri Sorumlusu’nun
  Aydınlatma Yükümlülüğü” başlıklı maddesi uyarınca; veri sorumlusunun kimliği, kişisel verilerinizin toplanma yöntemi
  ve hukuki sebebi, bu verilerin hangi amaçla işleneceği, kimlere ve hangi amaçla aktarılabileceği, veri işleme süresi
  ve KVKK’nın 11. maddesinde sayılan haklarınızın neler olduğu ile ilgili sizi en şeffaf şekilde bilgilendirme amacıyla
  hazırlanmıştır.</p>
<h6>Kişisel Verilerinizin Toplanma Yöntemi ve Hukuki Sebebi
</h6>
<p>Kişisel verileriniz, otomatik ya da otomatik olmayan yöntemlerle, İkonion Hukuk ve Kariyer Derneği’nin projesi olan
  destinadestek.com internet sitesi ve benzeri vasıtalarla sözlü ya da elektronik olarak toplanabilecektir. Kişisel
  verileriniz, İkonion Hukuk ve Kariyer Derneği ve Destina ile ilişkiniz devam ettiği müddetçe oluşturularak ve
  güncellenerek işlenebilecek ve yalnızca dijital ortamda muhafaza altında tutulabilecektir.</p>
<p>Kişisel verileriniz, “İşlenen Kişisel Verileriniz ve İşlenme Amaçları” başlığında yer alan amaçlar doğrultusunda ve
  6698 sayılı Kanun’un 5. Maddenin 2.fıkrası uyarınca belirtilen;
  ​
  ç) Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması,
  e) Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması,
  f) İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru
  menfaatleri için veri işlenmesinin zorunlu olması,
  ​
  kişisel veri işleme şartları kapsamında işlenmektedir.
</p>
<h6>İşlenen Kişisel Verileriniz ve İşlenme Amaçları
</h6>
<p>Kişisel Verileriniz yasal yükümlülükler gereği veya İkonion Hukuk ve Kariyer Derneği Destina projesinde kullanıcılara
  daha etkin faydalı bir hizmet verebilmek amacıyla güvenli bir şekilde Kişisel Verilerin Korunması Kanunu’na uygun bir
  şekilde işlenmektedir.</p>
<p>Bu kapsamda kişisel veri olarak aşağıda yer alan veriler toplanmaktadır:</p>


<p><strong>Siteyi Ziyaret Etmeniz Durumunda</strong></p>

<p>İşlem Güvenliği Verisi: Kişiye ait bilgilerin işlenmesi sonucu oluşan dijital izlerin bulunduğu veri grubudur (IP
  adresi bilgileri, İnternet sitesi giriş çıkış bilgileri)</p>

<p><strong>kişisel verileriniz;</strong></p>
<ol>
  <li>Kanuni yükümlülüklerin yerine getirilebilmesi</li>
  <li> Hizmetlerimizi geliştirmek, hizmetlerimize ilişkin memnuniyeti arttırmak ve bu kapsamda kullanıcı deneyimine
    odaklı özelleştirmelerde bulunmak,
  </li>
  <li> Hizmetlerimize şikâyet ve önerileri değerlendirebilmek,
  </li>
  <li> Sivil toplum faaliyetlerini yerine getirebilmek,
  </li>
  <li>Veri güvenliği kapsamında, sistem ve uygulamalar için gerekli tüm teknik ve idari tedbirlerin alınması
    amaçları dâhilinde işlenecektir.</li>
</ol>
<h6>İşlenen Kişisel Verilerinizin Kimlere ve Hangi Amaçlarla Aktarılabileceği</h6> 
​
<p>KVKK ve ilgili mevzuat uyarınca uygun güvenlik düzeyini temin etmeye yönelik gerekli her türlü teknik ve idari tedbirlerin alınmasını sağlayarak, Kişisel Veri/Kişisel Verilerinizi yukarıda belirtilen amaçlar doğrultusunda;
</p>
<p>İlgili diğer mevzuat hükümlerinin izin verdiği kişi/kurum ve/veya kuruluşlar, KVK Kanunu’nun 8. ve 9. Maddesinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde yurtiçinde/ yurtdışında aktarılabilecektir. 
​</p>
<h6>Veri İşleme Süresi ve Muhafaza Süresi</h6> 
​
<p>Kişisel verileriniz, işbu Aydınlatma Metninde belirtilen amaçlarla sınırlı olmak üzere; İkonion Hukuk ve Kariyer Derneği’nin tabi olduğu, ilgili tüm kanun ve sair yasal mevzuatta yer alan veri işleme ve zamanaşımı sürelerine riayet edilerek işlenecektir. Kanunlarda veri işleme sürelerine ilişkin değişiklik yapılması halinde, belirlenen yeni süreler esas alınacaktır. Kişisel verileriniz, amaçla sınırlılık ilkesinin bir gereği olarak işbu Aydınlatma Metninde açıklanan amaçların yerine getirilmesi ve her halükârda uyarınca işlenmesini gerektiren süre ile sınırlı olarak işlenmekte, sürelerin dolması ardından ise silinmekte, yok edilmekte veya anonim hale getirilmektedir.
​</p>
<h6>İlgili kişinin hakları</h6> 
​
<p>İlgili kişi olarak, Kanunun ilgili kişinin haklarını düzenleyen 11.maddesi kapsamındaki taleplerinizi “Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğe” göre <a href="mailto:bilgi@ihkd.org">bilgi@ihkd.org</a>  e-posta adresine elektronik ortamdan iletmek suretiyle sayılan haklarını kullanabilecektir.
</p>