<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-muted">© 2022 Destina, İkonion Hukuk ve Kariyer Derneği projesidir.</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" target="_blank" href="https://www.linkedin.com/company/desti%CC%87na-projesi%CC%87/about/?viewAsMember=true">
        <img src="./../../../../../assets/icons/linkedin.svg" alt="Linkedin">
      </a></li>
      <li class="ms-3"><a class="text-muted" target="_blank" href="https://twitter.com/destinadestek?s=21">
        <img src="./../../../../../assets/icons/twitter.svg" alt="Twitter">
      </a></li>
      <li class="ms-3"><a class="text-muted" target="_blank" href="https://instagram.com/destina.destek?utm_medium=copy_link">
        <img src="./../../../../../assets/icons/instagram.svg" alt="Instagram">
      </a></li>
      <li class="ms-3"><a class="text-muted" target="_blank" href="mailto:destinadestek@ihkd.org">
        <img src="./../../../../../assets/icons/envelope.svg" alt="Mail">
      </a></li>
    </ul>
  </footer>