<h3>Çerez Politikası</h3>

<p>Bu Çerez Politikası (İşbu metin kapsamında Politika olarak anılacaktır); Destina Destek projesi tarafından
  işletilmekte olan internet sitesini ilgilendirmekte; www.destinadestek.com ‘un çerez kullanımına ilişkin açıklamalar
  içermektedir. Sitemizi kullanırken karşınıza çıkan “banner” veya “pop up” da yer alan çerez politikasına ilişkin
  bilgilendirmeyi kabul etmeniz ile çerezlerin işbu Politika’da belirtilen şekilde işlenmelerine ve kullanılmalarını
  onay vermiş olursunuz.
</p>
Çerezleri Kim, Nasıl Gönderir?
Çerezler, Ocak Yılmaz Hukuk tarafından ve/veya, *Eğer ziyaret edilen sayfada video veya fotoğraf gibi bazı içerikleri
sağlamakta ise, üçüncü kişiler tarafından ve gezintiniz sırasında cihazınızda bulunan tarayıcı (Google Chrome, Safari
vb. gibi) ile yukarıda ifade edilen kuruluşun sunucuları arasında kurulan iletişim vasıtasıyla gönderilmektedir.

<h6>Çerezler Ne Amaçla Kullanılmaktadır?</h6>
<p>Çerezler birçok farklı hedef için kullanılmaktadır. Örnek vermek gerekirse, çerezlere daha çok aşağıda belirtilen
  amaçlarla başvurulmaktadır:
  İnternet sitesinin düzgün bir şekilde çalışması (Örneğin sitenin içerisindeki metin, fotoğraf, bağlantı gibi
  içeriklerin ilgili yerlerde bulunması)
  Ziyaretçiler için daha kişiselleştirilmiş ve daha ilgi çekici bir deneyim sunulabilmesi (Örneğin tercihlerinize özel
  hizmetlerin sunulması)
  İnternet sitesinin geliştirilerek optimize edilmesi (Örneğin hata bulunan veya tercih edilmeyen sayfaların işler hale
  getirilmesi) ve
  Ziyaretçilerin tercihlerinin hatırlanması (Örneğin, İnternet sitemize giriş yaparken girdiğiniz bilgiler, dil ve diğer
  tercihler)
  Kamu güvenliğine ilişkin şekilde site gezinme hareketlerinin tutulması
</p>
<h6>Ne Tür Çerezler Kullanıyorsunuz?</h6>
<p>Oturum Çerezleri: İnternet sitesinden ayrılana dek cihazlarınızda tutulan geçici çerezleri ifade eder.
  Kalıcı Çerezleri: Kalıcı çerezler ise cihazınızın sabit diskinde uzun süreler kalan türde çerezler olup kullanım
  süreleri birkaç günden birkaç yıla kadar değişiklik gösterebilmektedir.
  Zorunlu Çerezler: İnternet sitesinin düzgün bir şekilde çalışabilmesi ve kullanıcıların sitede sunulan hizmetlerden ve
  gezinme özelliklerinden yararlanmaları için tutulmaları mecburidir. Örneğin, tarafımızdan gönderilmemekle birlikte,
  sitemizde ilginizi çeken haberleri paylaşabilmeniz veya ilgili platformdaki hesaplarımıza erişebilmeniz için sosyal
  medya ağları tarafından cihazınıza gönderilen sosyal medya paylaşım çerezleri birer zorunlu çerezdir.
  İşlevsel ve Analitik Çerezler: Tercihlerinizi hatırlamak, internet sitesinin etkin şekilde kullanılması, sitenin
  kullanıcı isteklerine cevap verecek şekilde optimize edilmesi gibi amaçlarla kullanılır ve ziyaretçilerin siteyi nasıl
  kullandığı hakkında verileri içerir. Niteliği gereği bu türdeki çerezler kişisel bilgilerinizi içerebilir. Örneğin
  sitemizde dil tercihinizi kaydeden çerezler birer işlevsel çerezdir.
</p>
<h6>Cihazınızdan alınan bilgiler nasıl kullanılıyor?</h6>

<p>Ayrıca, internet sitemizde yer alan yazı, haber ve diğer sekmelerde yer alan içerikleri ziyaretleriniz sırasındaki
  tıklama sıklığı ve ziyaret edilen sayfalara ilişkin kullanım verilerini anonim hale getirmek suretiyle istatistiki
  amaçlarla kullanırız. İnternet sitemizi kullanabilmek için çerezleri kabul etmek zorunda değilsiniz fakat bu durumda
  kullanıcı deneyiminizin kalitesi düşebilir. Çerezleri silebilir veya engelleyebilirsiniz fakat bu halde internet
  sitemiz olması gerektiği gibi çalışamayabilir. Çerezler üzerinden topladığımız verileri kimliğinizi belirlemek
  amacıyla kullanmayız. Çerezler bu Politika`da belirtilen amaçlar dışında kullanılmaz ve veri koruma mevzuatına aykırı
  olarak işlenmez.
</p>
<h6>Çerezlerin Kullanılmasını Nasıl Engelleyebilirsiniz?</h6>
<p>Çerezlerin kullanılması Web Sitesi’nin daha iyi hizmet vermekle birlikte eğer dilerseniz çerezlerin kullanılmasını
  engelleyebilirsiniz. Ancak bu takdirde sitenin tam olarak işlevini gösterememesi ve tüm özelliklerinden
  yararlanamayabileceğinizi unutmayınız. Çerezlerin kullanılmasını engellemek için kullandığınız internet tarayıcınızın
  ayarlarınızı değiştirmeniz gerekmektedir. Bu değişiklikler kullandığınız cihaz ve internet tarayıcısına göre
  değişiklik göstermektedir. Aşağıda farklı internet tarayıcıları üzerinden çerezlerin kullanılmasını engellemek için
  hangi adımların izlenmesi gerektiğine ilişkin bilgiler yer almaktadır:
</p>
<p><strong>Internet Explorer</strong></p>
<ul>
  <li>Masaüstünü açın ve görev çubuğunda Internet Explorer simgesine dokunun veya tıklayın.</li>
  <li>Araçlar düğmesine ve İnternet seçenekleri’ne dokunun veya tıklayın.</li>
  <li>Gizlilik sekmesine dokunun veya tıklayın, ardından tüm tanımlama bilgilerini engellemek için Ayarlar’ın altında
    bulunan kaydırıcıyı yukarıya hareket ettirin ve Tamam düğmesine dokunun veya tıklayın.
  </li>
</ul>
<p><strong>Microsoft Edge</strong></p>

<ul>
  <li>Microsoft Edge tarayıcınızın sağ üst köşesinden üç nokta işareti olan bölüme tıklayın ve Ayarlar bölümüne gelin.
  </li>
  <li>Karşınıza gelen yeni pencereden Temizlenecek Öğeleri Seç dedikten sonra karşınıza gelen pencereden temizlemek
    istediğiniz bölümleri seçin.
  </li>
  <li>Burada birçok bölüm bulunmaktadır. İstediğinizi seçerek temizleme işlemine başlayabilirsiniz
  </li>
</ul>
<p><strong>Google Chrome</strong></p>

<ul>
  <li>Bilgisayarınızda Chrome’u açın.
  </li>
  <li>Sağ üstte Diğer Ayarlar’ı tıklayın.
  </li>
  <li>Altta Gelişmiş’i tıklayın.
  </li>
  <li>“Gizlilik ve güvenlik”in altında İçerik ayarları’nı tıklayın.
  </li>
  <li>Çerezler’i tıklayın.
  </li>
  <li>“Tüm çerezler ve site verileri”nin altında Web Sitesi’nin adını arayın.
  </li>
  <li>Sitenin sağındaki Kaldır simgesini tıklayın
  </li>
</ul>
<p><strong>Firefox</strong></p>

<ul>
  <li>Firefox Menü düğmesine tıklayın ve Seçenekler’i seçin.
  </li>
  <li>Gizlilik ve Güvenlik panelini seçin ve Geçmiş bölümüne gidin.
  </li>
  <li>Firefox ayarını geçmiş için özel ayarları kullansın olarak değiştirin.
  </li>
  <li>Çerezleri göster… düğmesine tıklayın. Çerezler penceresi görünecektir.
  </li>
  <li>Arama: alanına, çerezlerini silmek istediğiniz sitenin adını yazın. Aramanızla eşleşen çerezler görüntülenecektir.
  </li>
  <li>Silmek istediğiniz çerez(ler)i seçip Seçilenleri sil düğmesine tıklayın.
  </li>
  <li>Kapat düğmesine tıklayarak Çerezler penceresini kapatın. Sonra da about:preferences sayfasını kapatın
  </li>
</ul>
<p><strong>Safari</strong></p>

<ul>
  <li>Safari > Tercihler’i seçin.
  </li>
  <li>Gizlilik öğesini tıklayın.
  </li>
  <li>Web Sitesi Verilerini tıklayın.
  </li>
  <li>Bir veya daha fazla web sitesi seçin ve sonra Sil veya Tümünü Sil’e tıklayın. Ziyaret ettiğiniz web sitelerinin
    geride bıraktığı tüm çerezli üçüncü parti yazılımlar aracılığıyla da silebilirsiniz.

  </li>
</ul>
<p><strong>Opera</strong></p>

<ul>
  <li>Tarayıcınızın “tercihler” bölümüne gidin.</li>
  <li>“Gelişmiş” bölümünü seçerek. Çerezler bölümünden çerezlerle ilgili düzenleme yapabilirsiniz.
  </li>
</ul>
<p>İşbu çerez politikası ile birlikte çerezler harici kişisel verilerinize ilişkin bilgi almak için internet sitemizde
  yer alan aydınlatma metnini ziyaret edebilirsiniz.
</p>
<p><a href="mailto:bilgi@ihkd.org ">bilgi@ihkd.org </a></p>
