<h1 class="fw-bold m-3">Hakkımda</h1>

<h3 class="my-3">Beni tanımak ister misiniz?</h3>
<p>Geliştiricilerim yani İkonion Hukuk ve Kariyer Derneği Hukuk Teknolojileri Çalışma Grubu serüvenine 2020 yılı
  eylül
  ayında başladı. İlk toplantılarında aldıkları karar sonrası çalışma grubu için iki aşamalı bir süreç belirlediler.
  İlk
  9 aylarını tamamen hukuk teknolojilerini daha iyi anlamak ve kavramak için teorik eğitimlerle geçirdiler. Bu
  süreçte
  kendilerini;</p>
<ul>
  <li>Temel yazılım ve donanım</li>
  <li>Yapay zeka, makine ve derin öğrenme ayrıca doğal dil işleme</li>
  <li>Bulut teknolojileri</li>
  <li>Hukukta dijital tasarım</li>
  <li>Blok zincir ve NFT’ler</li>
  <li>Akıllı sözleşmeler</li>
  <li>Hukuk teknolojileri ve etik</li>
  <li>Veri bilimi</li>
  <li>Deepfake’ler</li>
</ul>
<p>alanlarında geliştirdiler. Daha sonra çalışma grubunun ikinci aşamasına geçme kararı aldılar.</p>
<p>Bu aşamada amaçları inovasyon, hukuk, teknoloji ve sosyal sorumluluğun bir arada olduğu bir hukuk teknolojisi
  yaratmaktı ve beni oluşturma fikri bu aşamanın ilk toplantısında ortaya çıktı. O toplantıda alınan karar otonom
  çalışan bir filtreleme uygulaması geliştirmekti. Bu algoritma şiddete uğrayan kadınlara o şiddet anında veya
  sonrasında uğradığı şiddet çok daha yeniyken yardım edecek ve yol gösterecek. Destina, yani ben ilk bu şekilde
  düşünüldüm. Daha sonra bu filtreleme uygulaması bir yazışma kutusuna dönüştü. </p>
<div class="d-flex justify-content-center">
  <img class="rounded-circle p-5" style="max-width: 300px; max-height: 300px;"
  src="./../../../../assets/photos/destina.jpeg" alt="">
</div>
 


<h3 class="my-3">Destina İsmi Nasıl Ortaya Çıktı?</h3>
<p>İsmim sizde bir çok şeyi çağrıştırabilir, bunlar; şiir, şarkı hatta eminim şuan bu satırları okurken zihninizin bir
  köşesinde şu sözler yankılanıyordur: “‘Yeni bir isim verdim sana Destina…” Ama benim ismimin Destina olma sebebi onun
  anlamı. Destina; kelime anlamı olarak kader, kısmet ve yazgı demektir. Geliştiricilerim ismimi Destina koydu çünkü
  kaderin anlamını şuan anlaşıldığının aksine kabullenmek olmadığını, mücadele etmek gerektiğini göstermek istediler.
  Şiddet senin kaderin değil, ansızın sokak ortasında öldürülmeyi, acı çekmeyi, şiddete uğramayı kaderin ya da yazgın
  olarak görüp kabullenmek yerine kader ve yazgıyı başlangıç ve bitiş noktası olarak kabul edip o iki nokta arasındaki
  yolculuğu tamamen senin çizdiğin bir süreç olarak görmek seni güçlendirecektir, sana mücadele inancı ve ruhu
  verecektir. Bu sebeple benim adım Destina, sen de benimle beraber mücadele edebil diye, her şeye ve herkese rağmen
  ayağa kalkıp olanlara dur de diye… </p>
<h3 class="my-3">Destina V.0</h3>
<p>Destina V.0, benim ilk çıkarılan modelim. Arka planda “decision tree” diye tanımlanan basit bir yapay zeka
  algoritması üzerinde çalışıyorum. Bu algoritma sayesinde şiddete uğrayan kadın ve çocukların uğramış olduğu şiddet
  tipini analiz edebiliyorum, onlara bu şiddeti gerçekleştiren kişiyi öğrenip onların ihtiyacı olan 4 konu hakkında yol
  gösteriyorum. Bunlar;</p>
<ul>
  <li>Kolluk koruması ve uzaklaştırma kararı; kolluk koruması ve uzaklaştırma kararı nedir, nasıl bir fayda sağlar, bu
    yardıma nasıl ulaşabilirler ve bulundukları şehirde ayrıca Türkiye geneli çalışan bu yardım konusunda onlara destek
    olacak kurum, kuruluş ve acil yardım hatları hakkında bilgi veriyorum. </li>
  <li> Hukuki yardım; ihtiyaçları olan hukuki yardım nedir, kanunların sunmuş olduğu ayrıcalıklar, bu yardımlara ve
    kanunların sağlamış olduğu ayrıcalıklara ulaşabilmeleri için bulundukları şehirde ayrıca Türkiye geneli çalışan bu
    yardım konusunda onlara destek olacak kurum, kuruluş ve acil yardım hatları hakkında bilgi veriyorum.
  </li>
  <li> Maddi ve mesleki destek; bu süreçte ihtiyaçları olan maddi ve mesleki anlamda destek ve danışmanlık hizmetleri
    neler, bu destek ve danışmanlık hizmetlerine ulaşabilmeleri için bulundukları şehirde ayrıca Türkiye geneli çalışan
    bu konuda yardım alabilecekleri kurum, kuruluş ve acil yardım hatları hakkında bilgi veriyorum.
  </li>
  <li> Rehabilitasyon ve eğitim desteği; bu süreçte ihtiyaçları olan rehabilitasyon ve eğitim destekleri neler, bu
    destek ve danışmanlık hizmetlerine ulaşabilmeleri için bulundukları şehirde ve Türkiye geneli çalışan bu konuda
    yardım alabilecekleri kurum, kuruluş ve acil yardım hatları hakkında bilgi veriyorum.</li>

</ul>
<p>Yakın zamanda sizlerle buluşacak olan V.0 modelim sadece üç tip şiddete odaklanmıştır. Bunlar; fiziksel, cinsel ve
  psikolojik şiddetlerdir. Bu model bir beta sürümüdür. Gelecek sürümlerimi geliştirebilsinler diye yaratıcılarıma ışık
  tutacak geri dönütleri bu modelim sayesinde elde edecekler. Bu sebeple üç tip şiddet konusunda ve Konya ayrıca İzmir
  illeri için hizmet vereceğim.</p>
<h3 class="my-3">Destina V.1 ve Diğer Geliştirilecek Modelleri
</h3>
<p>Yaratıcılarım, Destina V.0 modelimden elde ettikleri geri dönütler sonrası V.1 ve diğer V modellerimi
  geliştirebilcekler. Bu modellerde, tüm Türkiye’de hizmet verebileceğim. Ayrıca daha gelişmiş bir yapay zeka
  algoritması üzerinde çalışabileceğim için daha fazla şiddet tipine odaklanabileceğim.</p>
<p class="text-end fw-bold">~Destina</p>
