<div [ngSwitch]="contentId">
  <div *ngSwitchCase="1">
    <p class="c8"><span class="c3">KORUMA TEDB&#304;R&#304; NED&#304;R?</span></p>
    <p class="c13 c14"><span class="c10 c20">Koruma tedbiri ve uzakla&#351;t&#305;rma karar&#305;</span><span
        class="c5">&nbsp;6284 say&#305;l&#305; Ailenin Korunmas&#305; ve Kad&#305;na Kar&#351;&#305;
        &#350;iddetin
        &Ouml;nlenmesine Dair Kanun kapsam&#305;nda &#350;iddete u&#287;rayan veya &#351;iddete u&#287;rama
        tehlikesi bulunan kad&#305;nlar&#305;n, &ccedil;ocuklar&#305;n, aile bireylerinin ve tek tarafl&#305;
        &#305;srarl&#305; takip ma&#287;duru olan ki&#351;ilerin korunmas&#305; ve bu ki&#351;ilere y&ouml;nelik
        &#351;iddetin &ouml;nlenmesi amac&#305;yla verilen h&#305;zl&#305; ve etkili bir tedbirdir.</span></p>
    <p class="c13"><span class="c1">&nbsp;</span></p>
    <p class="c13 c14"><span class="c1">&#350;iddete u&#287;rayan veya u&#287;rama tehlikesi olan her ki&#351;i,
        &#351;ikayet ve ihbar mercilerine m&uuml;racaat ederek 6284 say&#305;l&#305; Kanun kapsam&#305;nda
        &ouml;ng&ouml;r&uuml;len tedbirleri talep edebilmektedir.</span></p>
    <p class="c7"><span class="c1">6284 say&#305;l&#305; Kanun&rsquo;da &#351;iddet fiziksel, cinsel, psikolojik ve
        ekonomik &#351;iddet t&uuml;rlerinin hepsini kapsayacak &#351;ekilde tan&#305;mlanm&#305;&#351;t&#305;r.
        Dolay&#305;s&#305;yla sadece fiziksel veya cinsel &#351;iddet durumunda de&#287;il, ayn&#305; zamanda
        psikolojik ve ekonomik &#351;iddet durumlar&#305;nda da bu koruma tedbirine
        ba&#351;vurulabilmektedir.</span></p>
    <p class="c4"><span class="c1"></span></p>
    <p class="c8"><span class="c3">KORUMA TEDB&#304;RLER&#304;NDEN K&#304;MLER FAYDALANAB&#304;L&#304;R?</span></p>
    <p class="c7"><span class="c1">&#350;iddete u&#287;rayan veya &#351;iddete u&#287;rama tehlikesi bulunan
        t&uuml;m
        kad&#305;nlar, &ccedil;ocuklar, aile bireyleri ve tek tarafl&#305; &#305;srarl&#305; takip
        ma&#287;durlar&#305; bu Kanun kapsam&#305;nda say&#305;lmakta ve koruma tedbirinden
        faydalanabilmektedir.</span></p>
    <p class="c7"><span class="c1">Kad&#305;na y&ouml;nelik olan her t&uuml;rl&uuml; &#351;iddet evlilik
        i&ccedil;erisinde ya&#351;anmas&#305; fark etmeksizin bu kanunun kapsam&#305;nda
        de&#287;erlendirilmelidir.
        &Ccedil;ocuklar ve aile bireyleri cinsiyetlerine bak&#305;lmaks&#305;z&#305;n 6284 say&#305;l&#305;
        Kanun
        kapsam&#305;nda koruma tedbirlerinden faydalanabilmektedir.</span></p>
    <p class="c7"><span class="c1">Tek tarafl&#305; &#305;srarl&#305; takip ma&#287;duru ise istemedi&#287;i halde
        kendisine veya yak&#305;n&#305;na y&ouml;nelik olarak, &#305;srarl&#305; bi&ccedil;imde, ara&ccedil;la,
        ileti&#351;im vas&#305;tas&#305;yla, s&ouml;zle, hareketle veya hukuka ayk&#305;r&#305; ba&#351;ka bir
        davran&#305;&#351;la ger&ccedil;ekle&#351;tirilen ki&#351;i olarak tan&#305;mlanabilmektedir. &Ouml;rnek
        vermek gerekirse ma&#287;dur &nbsp;istemedi&#287;i halde s&uuml;rekli telefon etmek, mektup
        g&ouml;ndermek
        veya di&#287;er ileti&#351;im ara&ccedil;lar&#305; vas&#305;tas&#305;yla ili&#351;ki kurmaya
        &ccedil;al&#305;&#351;mak, e-mail, sms vb. g&ouml;ndermek veya siber &#305;srarl&#305; takip
        ger&ccedil;ekle&#351;tirmek, ma&#287;duru bir yerde beklemek, takip etmek, g&ouml;zetlemek,
        istenmedi&#287;i
        halde &ccedil;i&ccedil;ek, hediye veya herhangi ba&#351;ka bir e&#351;ya g&ouml;ndermek, kamuya
        a&ccedil;&#305;k bir yerde veya internet ortam&#305;nda ma&#287;dur hakk&#305;nda s&ouml;ylentiler
        yaymak
        veya bilgi/resim vb. ki&#351;isel verilerini payla&#351;mak gibi fiiller
        ger&ccedil;ekle&#351;tirildi&#287;inde tek tarafl&#305; &#305;srarl&#305; takip s&ouml;z konusu
        olacakt&#305;r.</span></p>
    <p class="c4"><span class="c1"></span></p>
    <p class="c8"><span class="c3">KORUMA KARARINI K&#304;M VER&#304;R?</span></p>
    <p class="c13 c14"><span class="c1">Kanun koyucu bu yasa kapsam&#305;nda al&#305;nabilecek tedbirleri koruyucu
        ve
        &ouml;nleyici tedbirler olarak ikiye ay&#305;rm&#305;&#351;t&#305;r. Bunlardan ilki m&uuml;lki idari
        amir
        taraf&#305;ndan verilen koruma tedbir kararlar&#305; di&#287;eri ise aile mahkemeleri taraf&#305;ndan
        verilen koruma tedbiri kararlar&#305;d&#305;r.</span></p>
    <p class="c13"><span class="c1">M&uuml;lki idari amir taraf&#305;ndan verilebilecek koruma tedbirleri
        &#351;unlard&#305;r:</span></p>
    <ul class="c6 lst-kix_g38auy2aixce-0 start">
      <li class="c2 li-bullet-0"><span class="c1">Uygun bar&#305;nma yeri sa&#287;lanmas&#305;</span></li>
      <li class="c2 li-bullet-0"><span class="c1">Ge&ccedil;ici maddi yard&#305;m yap&#305;lmas&#305;</span></li>
      <li class="c2 li-bullet-0"><span class="c1">Psikolojik, mesleki, hukuki ve sosyal bak&#305;mdan rehberlik ve
          dan&#305;&#351;manl&#305;k hizmeti verilmesi</span></li>
      <li class="c2 li-bullet-0"><span class="c10">Hayati tehlikenin bulunmas&#305; halinde </span><span
          class="c10 c20">do&#287;rudan koruma alt&#305;na </span><span class="c5">al&#305;nmas&#305;</span>
      </li>
      <li class="c2 li-bullet-0"><span class="c1">Gerekli olmas&#305; halinde &ccedil;ocuklar i&ccedil;in
          kre&#351;
          imkan&#305;n&#305;n sa&#287;lanmas&#305;</span></li>
    </ul>
    <p class="c13 c16"><span class="c1"></span></p>
    <p class="c13"><span class="c1">Aile Mahkemesi taraf&#305;ndan verilebilecek koruyucu tedbirler
        &#351;unlard&#305;r:</span></p>
    <ul class="c6 lst-kix_yczj087dgjd4-0 start">
      <li class="c2 li-bullet-0"><span class="c1">&#304;&#351;yerinin de&#287;i&#351;tirilmesi</span></li>
      <li class="c2 li-bullet-0"><span class="c1">Evli olunmas&#305; halinde &#351;iddet uygulayan ki&#351;i ile
          birlikte ya&#351;an&#305;yorsa kalacak ba&#351;ka bir yer sa&#287;lanmas&#305;</span></li>
      <li class="c2 li-bullet-0"><span class="c1">Evli olunmas&#305; halinde ortak ev varsa tapu
          k&uuml;t&uuml;&#287;&uuml;nde eve &ldquo;aile konutu &#351;erhi&rdquo; konulmas&#305; (Aile konutu
          &#351;erhi konulmas&#305; ile birlikte bir e&#351; di&#287;er e&#351;ten izinsiz evi
          ba&#351;kas&#305;na
          satamayacak veya ev &uuml;zerinde ba&#351;kas&#305;na bir hak tesis edemeyecektir.)</span></li>
      <li class="c2 li-bullet-0"><span class="c1">Hayati tehlike bulunmas&#305; halinde kimlik bilgilerinin ve
          di&#287;er belgelerin de&#287;i&#351;tirilmesi</span></li>
    </ul>
    <p class="c13 c16"><span class="c1"></span></p>
    <p class="c9"><span class="c1">Aile Mahkemesi taraf&#305;ndan verilebilecek uygulamada uzakla&#351;t&#305;rma
        karar&#305; olarak da bilinen koruyucu tedbirler &#351;unlard&#305;r:</span></p>
    <ul class="c6 lst-kix_r2yadty9t5m7-0 start">
      <li class="c0 li-bullet-0"><span class="c1">Tehdit, hakaret, a&#351;a&#287;&#305;lama,
          k&uuml;&ccedil;&uuml;k
          d&uuml;&#351;&uuml;r&uuml;c&uuml; s&ouml;z ve davran&#305;&#351;larda bulunulmas&#305;n&#305;n
          yasaklanmas&#305;</span></li>
      <li class="c0 li-bullet-0"><span class="c1">&#350;iddet uygulayan veya uygulayabilecek ki&#351;inin aile
          konutundan uzakla&#351;t&#305;r&#305;lmas&#305; veya aile konutunun sadece ki&#351;inin
          kullan&#305;m&#305;na b&#305;rak&#305;lmas&#305;</span></li>
      <li class="c0 li-bullet-0"><span class="c1">&#350;iddet ma&#287;duru ki&#351;i ve korunan di&#287;er
          ki&#351;ilerin bulundu&#287;u konut, okul, i&#351;yeri gibi alanlara
          yakla&#351;&#305;lmas&#305;n&#305;n
          yasaklanmas&#305;</span></li>
      <li class="c0 li-bullet-0"><span class="c1">&#350;iddet uygulayan veya uygulama ihtimali bulunan
          ki&#351;inin
          &ccedil;ocuk ile ki&#351;isel ili&#351;ki kurma haklar&#305;na k&#305;s&#305;tlama getirilmesi veya
          bu
          haklar&#305;n&#305;n tamamen kald&#305;r&#305;lmas&#305;</span></li>
      <li class="c0 li-bullet-0"><span class="c5">Korunan ki&#351;inin &#351;ahsi e&#351;yalar&#305;na ve ev
          e&#351;yalar&#305;na zarar vermemesi</span></li>
      <li class="c0 li-bullet-0"><span class="c5">Korunan ki&#351;i ile ileti&#351;im kurmas&#305;n&#305;n ve
          rahats&#305;z etmesinin yasaklanmas&#305;</span></li>
      <li class="c0 li-bullet-0"><span class="c1">&#350;iddet uygulayan veya uygulayabilecek ki&#351;inin
          ruhsatl&#305; silah&#305; bulunmas&#305; durumunda, bu silah&#305;n veya silahlar&#305;n
          polise/jandarmaya teslim edilmesi</span></li>
      <li class="c0 li-bullet-0"><span class="c1">Silah bulunduran ki&#351;i polis, asker gibi g&ouml;revini ifa
          etmesi i&ccedil;in kendisine silah verilmi&#351; bir ki&#351;i olsa dahi, s&ouml;z konusu
          silah&#305;n
          ilgili kuruma teslim edilmesi</span></li>
      <li class="c0 li-bullet-0"><span class="c1">Sa&#287;l&#305;k kurulu&#351;lar&#305;nca &#351;iddet
          ma&#287;duruna
          tedavi sa&#287;lanmas&#305;</span></li>
      <li class="c0 li-bullet-0"><span class="c5">Korunan ki&#351;ilerin bulunduklar&#305; yerlerde alkol ya da
          uyu&#351;turucu veya uyar&#305;c&#305; madde kullan&#305;lmamas&#305; ya da bu maddelerin etkisinde
          iken
          korunan ki&#351;ilere ve bunlar&#305;n bulunduklar&#305; yerlere yakla&#351;&#305;lmamas&#305;,
          ba&#287;&#305;ml&#305;l&#305;&#287;&#305;n&#305;n olmas&#305; h&acirc;linde, hastaneye yatmak
          d&acirc;hil, muayene ve tedavisinin sa&#287;lanmas&#305;.</span></li>
      <li class="c0 li-bullet-0"><span class="c1">&#350;iddet uygulayan ki&#351;i ayn&#305; zamanda ailenin
          ge&ccedil;imini sa&#287;layan veya katk&#305;da bulunan ki&#351;i ise 4721 say&#305;l&#305; Kanun
          h&uuml;k&uuml;mlerine g&ouml;re nafakaya h&uuml;kmedilmemi&#351; olmas&#305; kayd&#305;yla, talep
          edilmese dahi tedbir nafakas&#305;na h&uuml;kmedilmesi</span></li>
    </ul>
    <p class="c9"><span class="c1">&nbsp;</span></p>
    <p class="c7"><span class="c1">Koruma tedbiri i&ccedil;in ba&#351;vuruldu&#287;unda m&uuml;lki idari amir veya
        hakim
        birden fazla koruma tedbirinin &ccedil;&#305;kar&#305;lmas&#305;na karar verebilmektedir. Ayr&#305;ca
        Kanun&rsquo;da yazanlarla s&#305;n&#305;rl&#305; kalmadan benzer ba&#351;ka koruma tedbirlerine de karar
        verilebilmektedir.</span></p>
    <p class="c4"><span class="c1"></span></p>
    <p class="c8"><span class="c3">KORUMA TEDB&#304;R&#304; KARARI ALMAK &#304;&Ccedil;&#304;N GEREKENLER
        NELERD&#304;R?</span></p>
    <p class="c7"><span class="c1">Koruma tedbirlerinin &ccedil;&#305;kart&#305;labilmesi a&#351;a&#287;&#305;daki 4
        merci en &ccedil;abuk ve kolay ula&#351;&#305;labilecek olan&#305;na ba&#351;vurulabilmektedir.</span>
    </p>
    <ul class="c6 lst-kix_5rgys8p597ta-0 start">
      <li class="c0 li-bullet-0"><span class="c12 c10">M&uuml;lki idari amir</span><span class="c1">: Vali veya
          kaymakaml&#305;klara s&ouml;zl&uuml; veya yaz&#305;l&#305; olarak ba&#351;vurarak yukar&#305;da
          yaz&#305;l&#305; tedbirleri talep etmek m&uuml;mk&uuml;nd&uuml;r.</span></li>
      <li class="c0 li-bullet-0"><span class="c10 c12">Kolluk Amiri:</span><span class="c1">&nbsp;Acil olarak
          koruma
          tedbirinin &ccedil;&#305;kar&#305;lmas&#305;na ihtiya&ccedil; olmas&#305; durumunda polise veya
          jandarmaya s&ouml;zl&uuml; veya yaz&#305;l&#305; olarak ba&#351;vurarak m&uuml;lki idari amirin
          h&uuml;kmedebilece&#287;i belirtilen tedbirlerden birine h&uuml;kmedilmesini talep etmek
          m&uuml;mk&uuml;nd&uuml;r.</span></li>
      <li class="c0 li-bullet-0"><span class="c12 c10">Cumhuriyet
          Ba&#351;savc&#305;l&#305;&#287;&#305;:</span><span class="c1">&nbsp;Cumhuriyet
          Ba&#351;savc&#305;l&#305;&#287;&#305;na bir dilek&ccedil;e yazarak koruma
          tedbirlerinin uygulanmas&#305; talep edilebilmektedir.</span></li>
      <li class="c0 li-bullet-0"><span class="c12 c10">Aile Mahkemeleri:</span><span class="c1">&nbsp;Yukar&#305;da
          mahkemeler taraf&#305;ndan verilebilece&#287;i a&ccedil;&#305;klanan kararlar i&ccedil;in bir
          dilek&ccedil;e ile mahkemeye ba&#351;vurulabilmektedir.</span></li>
    </ul>
    <p class="c9"><span class="c10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c1">6284
        say&#305;l&#305; Kanun&rsquo;da belirtilen koruma tedbirleri olduk&ccedil;a h&#305;zl&#305; bir
        &#351;ekilde
        ve herhangi bir delil sunmaya ihtiya&ccedil; duymadan talep edilebilecek &#351;iddetten korunma
        y&ouml;ntemleridir.</span></p>
    <p class="c9 c16"><span class="c1"></span></p>
    <p class="c8"><span class="c3">KORUMA TEDB&#304;R&#304;N&#304;N S&Uuml;RES&#304; NE KADARDIR?</span></p>
    <p class="c7"><span class="c1">Tedbir karar&#305; ilk defas&#305;nda en &ccedil;ok alt&#305; ay i&ccedil;in
        verilebilmektedir. Ancak &#351;iddet veya &#351;iddet uygulanma tehlikesinin devam edece&#287;inin
        anla&#351;&#305;ld&#305;&#287;&#305; hallerde, kendili&#287;inden ya da talep &uuml;zerine tedbirlerin
        s&uuml;resinin veya &#351;eklinin de&#287;i&#351;tirilmesine, bu tedbirlerin
        kald&#305;r&#305;lmas&#305;na
        veya aynen devam etmesine karar verilebilmektedir.</span></p>
    <p class="c9"><span class="c10">&nbsp;</span></p>
    <p class="c8"><span class="c3">KORUMA TEDB&#304;R&#304; KARARINA &#304;T&#304;RAZ ED&#304;LEB&#304;L&#304;R
        M&#304;?</span></p>
    <p class="c7"><span class="c1">Verilen kararlar&#305;n kar&#351;&#305; tarafa tebli&#287; tarihinden itibaren
        iki
        hafta i&ccedil;inde ilgililer taraf&#305;ndan aile mahkemesine itiraz edilebilmektedir.</span></p>
    <p class="c9"><span class="c5">&nbsp;</span></p>
    <p class="c9"><span class="c20 c21">&nbsp;</span></p>
    <p class="c8"><span class="c3">KORUMA KARARI &#304;HLAL ED&#304;L&#304;RSE NE OLUR?</span></p>
    <p class="c8 c14 c17"><span class="c1">Koruma tedbiri karar&#305;n&#305;n ihlal edilmesi halinde, 3 g&uuml;nden
        10
        g&uuml;ne kadar zorlama hapsi yapt&#305;r&#305;m&#305;na Aile Mahkemesi hakimi taraf&#305;ndan karar
        verilebilecektir. Ayr&#305;ca ihlalin her tekrar&#305;nda verilecek zorlama hapsi s&uuml;resi 15
        g&uuml;nden
        30 g&uuml;ne kadar uzat&#305;lacak olup toplamda 6 aya kadar zorlama hapis cezas&#305;
        verilebilecektir.</span></p>
    <p class="c8 c14"><span class="c5">Hangi t&uuml;r &#351;iddet olursa olsun &#351;iddete u&#287;rayan veya
        &#351;iddete u&#287;rama tehlikesi bulunan kad&#305;nlar&#305;n, &ccedil;ocuklar&#305;n, aile
        bireylerinin
        ve tek tarafl&#305; &#305;srarl&#305; takip ma&#287;duru ki&#351;ilerin korunmas&#305; ve bu
        ki&#351;ilere
        y&ouml;nelik &#351;iddetin &ouml;nlenmesi amac&#305;yla koruma tedbiri ve uzakla&#351;t&#305;rma
        karar&#305;
        yolu ba&#351;vurulabilecek en h&#305;zl&#305; ve etkili y&ouml;ntemlerden biridir.</span></p>
    <p class="c8"><span class="c5">&nbsp;</span></p>
    <p class="c8"><span class="c3">KAYNAK&Ccedil;A</span></p>
    <ul class="c6 lst-kix_a5xjhc7n1p1n-0 start">
      <li class="c8 c11 li-bullet-0"><span class="c5">&Ccedil;akmut, Ki&#351;ilerin Huzur ve S&uuml;kununu Bozma
          ve
          G&uuml;r&uuml;lt&uuml;ye Neden Olma Su&ccedil;lar&#305;, 58 vd.</span></li>
    </ul>
    <p class="c8"><span class="c3">&nbsp;</span></p>
    <p class="c15"><span class="c3">Haz&#305;rlayan</span></p>
    <p class="c15"><span class="c3">Av. Cevdet YILMAZ</span></p>
  </div>
  <div *ngSwitchCase="2">
    <p class="c9"><span class="c0">ADL&#304; YARDIM NED&#304;R ?</span></p>
    <p class="c9 c7"><span class="c10"></span></p>
    <p class="c3"><span class="c13">Adalete ula&#351;mak ne yaz&#305;k ki belirli masraf ve u&#287;ra&#351;lar&#305; da
        beraberinde getiriyor. Maddi a&ccedil;&#305;dan durumu iyi olmayanlar s&#305;rf bu masraflar
        y&uuml;z&uuml;nden mahkemelere ba&#351;vuram&#305;yor, kendilerine tan&#305;nm&#305;&#351; olan kanuni
        korumalardan faydalanam&#305;yorlar. Ancak sosyal devlet olman&#305;n gere&#287;i olarak devlet bu durumda
        olan ki&#351;ilere belirli &#351;artlar&#305; sa&#287;lamak ko&#351;ulu ile </span><span class="c8">MAHKEME
        MASRAFLARI VE AVUKATLIK H&#304;ZMET&#304;NE ULA&#350;IM</span><span class="c13">&nbsp; konular&#305;nda
        yard&#305;m etmekte i&#351;te bu yard&#305;mlar&#305;n genel ad&#305; </span><span class="c8">ADL&#304;
        YARDIM</span><span class="c1">&nbsp;olarak ifade edilmektedir.</span></p>
    <p class="c3 c7"><span class="c1"></span></p>
    <p class="c3 c7"><span class="c10"></span></p>
    <p class="c5"><span class="c0">ADL&#304; YARDIMDAN K&#304;MLER FAYDALANAB&#304;L&#304;R ?</span></p>
    <p class="c5 c7"><span class="c0"></span></p>
    <p class="c5"><span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c13">Adli
        yard&#305;mdan belirli &#351;artlar&#305; sa&#287;layan herkes yararlanabilir. Bu &#351;artlar </span><span
        class="c8">mahkeme masraflar&#305;n&#305; kar&#351;&#305;layamamak veya kar&#351;&#305;lamas&#305; halinde
        ge&ccedil;imini sa&#287;lamakta &ouml;nemli &ouml;l&ccedil;&uuml;de g&uuml;&ccedil;l&uuml;k
        &ccedil;ekmek</span><span class="c13">&nbsp;ve </span><span class="c8">dava a&ccedil;aca&#287;&#305; konuda
        hakl&#305; olmakt&#305;r</span><span class="c1">.</span></p>
    <p class="c5 c7"><span class="c1"></span></p>
    <p class="c5"><span class="c0">ADL&#304; YARDIMDAN NASIL YARARLANAB&#304;L&#304;R&#304;M ?</span></p>
    <p class="c5"><span class="c1">Adli yard&#305;mdan iki &#351;ekilde yararlanmak m&uuml;mk&uuml;nd&uuml;r:</span></p>
    <p class="c5 c7"><span class="c1"></span></p>
    <p class="c5"><span class="c1">1-Barolar&#305;n adli yard&#305;m b&uuml;rolar&#305;na ilgili evraklar ile
        ba&#351;vuru yapmak,</span></p>
    <p class="c5 c7"><span class="c1"></span></p>
    <p class="c5"><span class="c1">2- Do&#287;rudan dava a&ccedil;&#305;lacak mahkemeden talep etmek.</span></p>
    <p class="c5"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
    <p class="c5"><span class="c18">BARO ADL&#304; YARDIM B&Uuml;ROLARINA BA&#350;VURU</span></p>
    <p class="c3"><span class="c1">Her ilde barolar taraf&#305;ndan adli yard&#305;m hizmeti sa&#287;lanmaktad&#305;r.
        Bu hizmetten maddi durumu iyi olmayanlar yararlanabilir. Bunun i&ccedil;in belirli belgeler talep
        edilmektedir. Bu belgeler genelde :</span></p>
    <ul class="c16 lst-kix_nglcimdkd3e1-0 start">
      <li class="c4 c6 li-bullet-0"><span class="c1">&nbsp;Vukuatl&#305; Aile N&uuml;fus Kayd&#305; (E-Devletten
          Al&#305;nabilir) (N&uuml;fus Aile Se&ccedil;ilecek)</span></li>
      <li class="c4 c6 li-bullet-0"><span class="c1">Tapulu ta&#351;&#305;nmaz&#305;n bulunmad&#305;&#287;&#305;na
          dair kay&#305;t (E-Devletten Al&#305;nabilir)</span></li>
      <li class="c4 c6 li-bullet-0"><span class="c1">Ta&#351;&#305;t kayd&#305; (E-Devletten Al&#305;nabilir)</span>
      </li>
      <li class="c4 c6 li-bullet-0"><span class="c1">SGK Kayd&#305; (E-Devletten Al&#305;nabilir) (Barkodlu Belge
          Olu&#351;turulacak)</span></li>
      <li class="c4 c6 li-bullet-0"><span class="c1">&#304;kametgah Belgesi (E-Devletten Al&#305;nabilir)</span></li>
    </ul>
    <p class="c4"><span class="c1">&#351;eklindedir. Bu belgeler ile ba&#351;vuru yap&#305;lmas&#305; halinde
        &#351;artlar da sa&#287;lan&#305;yor ise baro taraf&#305;ndan avukat g&ouml;revlendirmesi
        yap&#305;lmaktad&#305;r.</span></p>
    <p class="c4"><span class="c0">MAHKEMEYE BA&#350;VURU</span></p>
    <p class="c4 c12"><span class="c1">Ayn&#305; zamanda adli yard&#305;m talebini do&#287;rudan dilek&ccedil;eniz ile
        mahkemeden talep etmek de m&uuml;mk&uuml;nd&uuml;r. Mahkemeye verece&#287;iniz dilek&ccedil;e dosya
        &uuml;zerinden incelenir. &#350;artlar sa&#287;lan&#305;yor ise adli yard&#305;m talebinin kabul&uuml;ne
        karar verilecektir.</span></p>
    <p class="c4 c7 c12"><span class="c1"></span></p>
    <p class="c4"><span class="c11 c8">Kaynak&ccedil;a:</span></p>
    <ul class="c16 lst-kix_so4we62khh6l-0 start">
      <li class="c4 c6 li-bullet-0"><span class="c2"><a class="c15"
            href="https://www.google.com/url?q=https://www.konyabarosu.org.tr/adliyardim/gereklibelgeler/18&amp;sa=D&amp;source=editors&amp;ust=1645822038919265&amp;usg=AOvVaw3sRxydDOZvf2FWBKLl0VMF">https://www.konyabarosu.org.tr/adliyardim/gereklibelgeler/18</a></span><span
          class="c11 c8">&nbsp;</span></li>
    </ul>
    <p class="c4 c7"><span class="c11 c8"></span></p>
    <p class="c17"><span class="c8">Haz&#305;rlayan &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; Av. Mehmet Enes G&Uuml;NG&Ouml;R</span></p>
  </div>
  <div *ngSwitchCase="3">
    <p class="c5"><span class="c9">&#350;&#304;DDET &Ouml;NLEME ve &#304;ZLEME MERKEZLER&#304;</span></p>
    <p class="c5"><span class="c9">-&#350;&Ouml;N&#304;M-</span></p>
    <p class="c0"><span class="c4">&#350;&Ouml;N&#304;M&rsquo;in Kurulu&#351; Amac&#305; Nedir ?</span></p>
    <p class="c0"><span class="c2">6284 say&#305;l&#305; Ailenin Korunmas&#305; ve Kad&#305;na Kar&#351;&#305;
        &#350;iddetin &Ouml;nlenmesine Dair Kanuna ve Aile ve Sosyal Politikalar Bakanl&#305;&#287;&#305;n&#305;n
        g&ouml;revleri esas al&#305;narak haz&#305;rlanm&#305;&#351;t&#305;r ve devletin vatanda&#351;lar&#305;na
        her zaman sosyal destek sunmas&#305;n&#305; sa&#287;lamay&#305; ama&ccedil;lar. &#304;nsan haklar&#305;na ve
        insan onuruna sayg&#305;l&#305; bir ya&#351;ant&#305;y&#305; kad&#305;nlar&#305;m&#305;za vermeyi
        ama&ccedil;lar.</span></p>
    <p class="c0"><span class="c4">&#350;&Ouml;N&#304;M&rsquo;de kalmak i&ccedil;in nerelere ba&#351;vuru yapabilirim
        ?</span></p>
    <ul class="c10 lst-kix_9u4yu2ffm0zp-0 start">
      <li class="c3 li-bullet-0"><span class="c2">Valilik - Kaymakaml&#305;k</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Polis Merkezi</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Jandarma Karakolu</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Adli Makamlar (Cumhuriyet Ba&#351;savc&#305;l&#305;&#287;&#305; ve
          Aile Mahkemeleri)</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Aile, &Ccedil;al&#305;&#351;ma ve Sosyal Hizmetler &#304;l
          M&uuml;d&uuml;rl&uuml;kleri</span></li>
      <li class="c3 li-bullet-0"><span class="c2">&#350;iddet &Ouml;nleme ve &#304;zleme Merkezleri</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Sa&#287;l&#305;k Kurulu&#351;lar&#305;</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Acil telefon hatlar&#305;</span></li>
      <li class="c3 li-bullet-0"><span class="c2">ALO 155 Polis &#304;mdat,</span></li>
      <li class="c3 li-bullet-0"><span class="c2">ALO 156 Jandarma &#304;mdat</span></li>
      <li class="c3 li-bullet-0"><span class="c2">ALO 183 Sosyal Destek Hatt&#305; (7 G&uuml;n 24 Saat &Uuml;cretsiz
          Hizmet Verir)</span></li>
      <li class="c3 li-bullet-0"><span class="c2">112 AC&#304;L &Ccedil;a&#287;r&#305; Merkezi</span></li>
      <li class="c3 li-bullet-0"><span class="c2">GEL&#304;NC&#304;K HATTI 444 43 06</span></li>
      <li class="c3 li-bullet-0"><span class="c2">&#350;iddet &#304;hbar Mobil Uygulamas&#305;</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Kad&#305;n Destek Sistemi (KADES)</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Tedavi ve &#351;iddeti belgeleyen sa&#287;l&#305;k raporu
          i&ccedil;in:</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Sa&#287;l&#305;k Kurulu&#351;lar&#305;</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Dan&#305;&#351;ma, destek, s&#305;&#287;&#305;nmaevi/konukevi ve
          maddi yard&#305;m i&ccedil;in:</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Aile, &Ccedil;al&#305;&#351;ma ve Sosyal Hizmetler &#304;l
          M&uuml;d&uuml;rl&uuml;&#287;&uuml; (Konukevi Hizmeti, Destek ve Dan&#305;&#351;manl&#305;k)</span></li>
      <li class="c3 li-bullet-0"><span class="c2">&#350;iddet &Ouml;nleme ve &#304;zleme Merkezleri</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Sosyal Hizmet Merkezleri</span></li>
      <li class="c3 li-bullet-0"><span class="c2">ALO 183 Sosyal Destek Hatt&#305; (7 G&uuml;n 24 Saat &Uuml;cretsiz
          Hizmet Verir)</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Sivil Toplum &Ouml;rg&uuml;tleri S&#305;&#287;&#305;nmaevi/Konukevi
          Hizmeti, Destek ve Dan&#305;&#351;manl&#305;k, Ayni-Maddi Yard&#305;m</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Barolar ve Baroya Ba&#287;l&#305; Kad&#305;n Haklar&#305;
          Merkezleri</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Belediyeler (S&#305;&#287;&#305;nmaevi/Konukevi Hizmeti, Destek ve
          Dan&#305;&#351;manl&#305;k, Ayni-Maddi Yard&#305;m)</span></li>
      <li class="c3 li-bullet-0"><span class="c2">Valilik, Kaymakaml&#305;k</span></li>
      <li class="c3 li-bullet-0"><span class="c2">ALO 144 Sosyal Yard&#305;m Hatt&#305;</span></li>
    </ul>
    <p class="c0"><span class="c2">Ki&#351;inin kendisi veya yak&#305;n&#305; &#351;iddetle ilgili ihbarda bulunabilir.
        Ancak &uuml;&ccedil;&uuml;nc&uuml; ki&#351;iler taraf&#305;ndan yap&#305;lan &nbsp;ihbarlarda g&ouml;revli
        ki&#351;ilerin incelemesi gerekmektedir.</span></p>
    <p class="c0"><span class="c4">&#350;&Ouml;N&#304;M &#350;iddetin Uzla&#351;ma Yoluyla &Ccedil;&ouml;z&uuml;lmesi
        Hakk&#305;nda Ne D&uuml;&#351;&uuml;n&uuml;r ?</span></p>
    <p class="c0"><span class="c2">&#350;iddet ma&#287;durunun korumak ve &#351;idddetin tekrar uygulanmas&#305;n&#305;
        engellemek amac&#305;yla uzla&#351;ma genellikle &ouml;nerilmez.</span></p>
    <p class="c0"><span class="c4">&#350;&Ouml;N&#304;M&rsquo;e &Ccedil;ocuklar&#305;m da Gelebilir mi ?</span></p>
    <p class="c0"><span class="c2">&#350;&Ouml;N&#304;M &ccedil;ocuklara da a&ccedil;&#305;kt&#305;r ve onlar&#305;n da
        kimlik ve adres bilgileri gizli tutulur.</span></p>
    <p class="c0"><span class="c4">&#350;&Ouml;N&#304;M &#304;&ccedil;in Herhangi Bir Belge Sunmama Gerek Var
        M&#305;d&#305;r ?</span></p>
    <p class="c0"><span class="c2">&#350;&Ouml;N&#304;M i&ccedil;in kad&#305;n&#305;n beyan&#305; esas al&#305;n&#305;r,
        sizden darp raporu gibi bir ek belge beklenmez.</span></p>
    <p class="c0"><span class="c4">Engelliyim, &#350;&Ouml;N&#304;M&rsquo;de Kalabilir Miyim ?</span></p>
    <p class="c0"><span class="c2">&#350;&Ouml;N&#304;M engelliler i&ccedil;in mevzuata g&ouml;re TS 9111 ve di&#287;er
        standartlara uygun olarak yap&#305;l&#305;r.</span></p>
    <p class="c0"><span class="c4">&#350;&Ouml;N&#304;M&rsquo;de Bana Hangi Hizmetler Sunulacak ?</span></p>
    <p class="c0"><span class="c2">&Ouml;ncekikle ba&#351;vurunuzdan di&#287;er kurumlar haberdar edilecek,</span></p>
    <p class="c0"><span class="c2">Gerekli tedbir kararlar&#305; al&#305;nacak,</span></p>
    <p class="c0"><span class="c2">Psiko- sosyal destek sunulacak ,</span></p>
    <p class="c0"><span class="c2">Hukuki destek sa&#287;lanacak ve baronun ilgili b&ouml;l&uuml;mlerine
        y&ouml;nlendirilecek,</span></p>
    <p class="c0"><span class="c2">Sa&#287;l&#305;k konusunda destek sa&#287;lanacak,</span></p>
    <p class="c0"><span class="c2">Ekonomik yard&#305;m yap&#305;lacak,</span></p>
    <p class="c0"><span class="c2">Kre&#351; hizmeti sunulacak.</span></p>
    <p class="c0"><span class="c4">Israrla Takip Ediliyorum, &#350;&Ouml;N&#304;M&rsquo;e Ba&#351;vurabilir Miyim
        ?</span></p>
    <p class="c0"><span class="c2">Evet, aktif bir &#351;iddet olmasa da takip edilmek de pasif &#351;iddettir ve
        &#350;&Ouml;N&#304;M&rsquo;e ba&#351;vuru yapabilirsiniz .</span></p>
    <p class="c0"><span class="c4">Hangi Durumlarda &#350;&Ouml;N&#304;M de&#287;il de Engelli ve Ya&#351;l&#305;
        Hizmetler M&uuml;d&uuml;rl&uuml;&#287;&uuml; aktif rol al&#305;r ?</span></p>
    <p class="c0"><span class="c2">&#350;iddet ma&#287;durlar&#305;ndan a&#287;&#305;r ruhsal ve zihinsel sorunlar&#305;
        veya a&#287;&#305;r psikiyatrik hastal&#305;&#287;&#305; oldu&#287;u g&ouml;zlemlenenler, psikiyatrik
        bozukluk tan&#305;s&#305; olanlar, &ouml;z bak&#305;m&#305;n&#305; sa&#287;layamayacak kadar bedensel ve
        zihinsel engelliler, altm&#305;&#351; ya&#351;&#305;ndan b&uuml;y&uuml;kler ile yat&#305;l&#305; bak&#305;m
        hizmetine ihtiya&ccedil; duyan ki&#351;iler, Engelli ve Ya&#351;l&#305; Hizmetleri Genel
        M&uuml;d&uuml;rl&uuml;&#287;&uuml;ne ba&#287;l&#305; olarak hizmet veren kurulu&#351;lara
        y&ouml;nlendirilir. Bu ki&#351;ilerden haklar&#305;nda Kanun kapsam&#305;nda al&#305;nan tedbir
        kararlar&#305;n&#305;n takibi &#350;&Ouml;N&#304;M taraf&#305;ndan yap&#305;l&#305;r.YAN&#304; HER
        HAL&Uuml;KARDA &#350;&Ouml;N&#304;M&rsquo;E BA&#350;VURU YAPIN, &Ouml;ZEL DURUMUNUZ D&#304;KKATE ALINACAK VE
        Y&Ouml;NLEND&#304;R&#304;LECEKS&#304;N&#304;Z.</span></p>
    <p class="c0"><span class="c2">&nbsp;</span></p>
    <p class="c0"><span class="c2">&nbsp;</span></p>
    <p class="c0"><span class="c4">18 Ya&#351;&#305;ndan K&uuml;&ccedil;&uuml;&#287;&uuml;m, Hamileyim veya Do&#287;um
        Yapt&#305;m. Ne Yapmal&#305;y&#305;m ?</span></p>
    <p class="c0"><span class="c2">On sekiz ya&#351;&#305;ndan k&uuml;&ccedil;&uuml;k &#351;iddet ma&#287;duru, hamile
        veya do&#287;um yapm&#305;&#351; k&#305;z &ccedil;ocuklar&#305; &Ccedil;ocuk Hizmetleri Genel
        M&uuml;d&uuml;rl&uuml;&#287;&uuml;ne ba&#287;l&#305; olarak hizmet veren kurulu&#351;lara
        y&ouml;nlendirilir. Bu ki&#351;ilerden haklar&#305;nda Kanun kapsam&#305;nda al&#305;nan tedbir
        kararlar&#305;n&#305;n takibi &#350;&Ouml;N&#304;M taraf&#305;ndan yap&#305;l&#305;r.</span></p>
    <p class="c0"><span class="c4">Hayat&#305;m&#305; idame ettirmem i&ccedil;in &#350;&Ouml;N&#304;M bana yard&#305;m
        eder mi ?</span></p>
    <p class="c0"><span class="c2">&#350;&Ouml;N&#304;M&rsquo;in faaliyetleri aras&#305;nda i&#351; bulman&#305;za
        yard&#305;mc&#305; olma &ouml;zelli&#287;i de vard&#305;r. Ayn&#305; zamanda kre&#351; konusunda da destekte
        bulunur.</span></p>
    <p class="c0"><span class="c4">&#350;iddet Uygulayan Ki&#351;i Hakk&#305;nda &#350;&Ouml;N&#304;M ne yapabilir
        ?</span></p>
    <p class="c0"><span class="c2">Psikolojik destek sa&#287;lar, meslek edindirme kurslar&#305;na y&ouml;nlendirir,
        e&#287;er ba&#287;&#305;ml&#305;l&#305;k gibi bir durum s&ouml;z konusuysa gerekli tedaviye te&#351;vik eder
        ve bu giderler Bakanl&#305;k b&uuml;t&ccedil;esinden kar&#351;&#305;lan&#305;r.</span></p>
    <p class="c0"><span class="c4">&#350;&Ouml;N&#304;M&rsquo;de Kal&#305;nca Adresimi &#304;nsanlar G&ouml;rebilir mi
        ?</span></p>
    <p class="c0"><span class="c2">&#350;&Ouml;N&#304;M&rsquo;de kal&#305;rken hakk&#305;n&#305;zda gizlilik karar&#305;
        &ccedil;&#305;kar&#305;l&#305;r ve bu gizlilik karar&#305;ndan dolay&#305; adresiniz ula&#351;&#305;labilir
        olmaktan &ccedil;&#305;kar.</span></p>
    <p class="c1"><span class="c2">&nbsp;</span></p>
    <p class="c1"><span class="c2">Av. Ece KABADAYI</span></p>
  </div>
  <div *ngSwitchCase="4">
    <p class="c2"><span class="c0">ALO 183 (Sosyal Destek Hatt&#305;) Nedir?</span></p>
    <p class="c2 c7"><span class="c4"></span></p>
    <p class="c2"><span class="c8">Aile ve Sosyal Hizmetler Bakanl&#305;&#287;&#305; taraf&#305;ndan aile, kad&#305;n,
        &ccedil;ocuk, engelli, ya&#351;l&#305;, &#351;ehit yak&#305;nlar&#305; ile gaziler ve gazi
        yak&#305;nlar&#305;na y&ouml;nelik hizmetlerle alakal&#305; &ccedil;a&#287;r&#305;lar de&#287;erlendirilerek
        rehberlik ve dan&#305;&#351;manl&#305;k hizmeti sunulan &ccedil;a&#287;r&#305; merkezidir. </span><span
        class="c8 c1">&#304;hmal, istismar ve &#351;iddet vakalar&#305; veya t&ouml;re ve namus cinayetlerinin
        &ouml;nlenmesi i&ccedil;in tedbir mahiyetindeki ihbarlar da al&#305;nmakta, durumun aciliyeti g&ouml;z
        &ouml;n&uuml;nde bulundurularak vakan&#305;n bulundu&#287;u ilde g&ouml;revli Acil M&uuml;dahale Ekip
        Sorumlusuna ve/veya kolluk kuvvetlerine bildirilmektedir. Acil M&uuml;dahale Ekibi vakay&#305;
        de&#287;erlendirmekte, gerekli durumlarda emniyet veya jandarma birimleri ile koordinasyon sa&#287;layarak,
        en k&#305;sa zamanda m&uuml;dahale edilmesi sa&#287;lanmaktad&#305;r. </span><span class="c8">Bu noktada
        kad&#305;nlara ve k&#305;z &ccedil;ocuklar&#305;na sa&#287;lanan hizmetler &ouml;nemlidir.
        Bakanl&#305;&#287;&#305;n; Aile ve Toplum Hizmetleri Genel M&uuml;d&uuml;rl&uuml;&#287;&uuml;, &Ccedil;ocuk
        Hizmetleri Genel M&uuml;d&uuml;rl&uuml;&#287;&uuml;, Kad&#305;n&#305;n Stat&uuml;s&uuml; Genel
        M&uuml;d&uuml;rl&uuml;&#287;&uuml; ve Hukuk Hizmetleri Genel M&uuml;d&uuml;rl&uuml;&#287;&uuml;nce
        sa&#287;lad&#305;&#287;&#305; hizmetlerden faydalanabilirsiniz. </span></p>
    <p class="c2 c7"><span class="c4 c1"></span></p>
    <h3 class="c5 c2 c1" id="h.powntg2w81vz"><span class="c6 c1">T.C. Aile ve Sosyal Hizmetler Bakanl&#305;&#287;&#305;
        ALO 183 &Ccedil;a&#287;r&#305; Merkezi;</span></h3>
    <p class="c2"><span class="c6">Haftal&#305;k 3 bin 470, ayl&#305;k 17 bin 769 olmak &uuml;zere y&#305;ll&#305;k 259
        bin 974 ba&#351;vuru almaktad&#305;r. </span></p>
    <p class="c2 c7"><span class="c4 c1"></span></p>
    <p class="c5 c2 c1"><span class="c0 c1">ALO 183 Hatt&#305;&rsquo;n&#305; her zaman arayabilir miyim?</span></p>
    <p class="c5 c2 c1"><span class="c4 c1">Alo 183 Hatt&#305; 7 g&uuml;n 24 saat kesintisiz hizmet vermektedir.
        G&ouml;r&uuml;nt&uuml;l&uuml; g&ouml;r&uuml;&#351;me hizmeti haftai&ccedil;i 08.00-24.00, cumartesi
        08.00-17.00 saatleri aras&#305;nda verilmektedir. Alo 183 hatt&#305;na Whatsapp &uuml;zerinden 7 g&uuml;n 24
        saat kesintisiz olmak &uuml;zere 0 501 183 0 183 nolu hat &uuml;zerinden
        ula&#351;&#305;labilmektedir.</span></p>
    <p class="c5 c2 c1"><span class="c12 c1"><a class="c10"
          href="https://www.google.com/url?q=https://api.whatsapp.com/send?phone%3D905011830183&amp;sa=D&amp;source=editors&amp;ust=1645824472152358&amp;usg=AOvVaw2kS4T6xDQmLpJcyeCjeNsG">WhatsApp
          ileti&#351;imi i&ccedil;in t&#305;klay&#305;n.</a></span></p>
    <p class="c5 c2 c1"><span class="c0 c1">ALO 183 Hatt&#305; hangi dillerde hizmet verir? &#304;&#351;itme ve
        konu&#351;ma engelli vatanda&#351;lara sunulan ayr&#305;ca hizmetler var m&#305;d&#305;r?</span></p>
    <p class="c2 c1 c5"><span class="c8 c1">K&uuml;rt&ccedil;e ve Arap&ccedil;a bilen personel bu dillerde gelen
        &ccedil;a&#287;r&#305;lar&#305; cevaplamaktad&#305;r. Alo 183 Hatt&#305;na i&#351;aret dili bilen personel
        g&ouml;revlendirilerek, i&#351;itme ve konu&#351;ma engelli vatanda&#351;lar&#305;m&#305;zla, 3G uyumlu
        telefonlar ile hafta i&ccedil;i 08:00 &ndash; 24:00 saatleri aras&#305;nda, Cumartesi g&uuml;n&uuml; ise
        08:00-17:00 saatleri aras&#305;nda 0 549 381 0 183 nolu hat &uuml;zerinden g&ouml;r&uuml;nt&uuml;l&uuml;
        g&ouml;r&uuml;&#351;me yap&#305;labilmektedir. Ayr&#305;yeten i&#351;itme ve konu&#351;ma engelli
        vatanda&#351;lar&#305;m&#305;z, t&uuml;m cep telefonu operat&ouml;rlerinden ad soyad, T.C kimlik
        numaras&#305; ve taleplerini i&ccedil;eren mesaj yazarak 183 numaras&#305;na g&ouml;nderebilmekte, talepler
        ilgili personel taraf&#305;ndan de&#287;erlendirilerek telefon veya sms ile vatanda&#351;lara geri
        d&ouml;n&uuml;&#351; yap&#305;larak bilgi verilmektedir.</span><span class="c1 c9">&nbsp;</span></p>
    <p class="c5 c2 c1"><span class="c0 c1">ALO 183 Hatt&#305;&rsquo;n&#305; aramak &uuml;cretli midir?</span></p>
    <p class="c5 c2 c1"><span class="c4 c1">Alo 183 Hatt&#305;&rsquo;na yurt i&ccedil;inden yap&#305;lan aramalar
        &uuml;cretsizdir. T&uuml;m mobil ve sabit telefon operat&ouml;rleri ile yaz&#305;&#351;ma yap&#305;larak,
        vatanda&#351;lar&#305;n Alo 183 Hatt&#305;&rsquo;na &uuml;cretsiz mesaj (sms) g&ouml;nderebilmesine olarak
        sa&#287;lanm&#305;&#351;t&#305;r. Yurt d&#305;&#351;&#305;nda ya&#351;ayan vatanda&#351;lar&#305;m&#305;z
        +90 312 253 92 00 telefon numaras&#305;ndan &Ccedil;a&#287;r&#305; Merkezine ula&#351;abilmekte,
        Bakanl&#305;k&ccedil;a g&ouml;rev alan&#305; kapsam&#305;nda yer alan hizmetler ile ilgili gerekli rehberlik
        ve y&ouml;nlendirme yap&#305;lmaktad&#305;r.</span></p>
    <p class="c5 c11 c1"><span class="c6 c1">Hayriye &#350;enol</span></p>
    <p class="c5 c1 c11"><span class="c6 c1">Erciyes &Uuml;niversitesi Hukuk Fak&uuml;ltesi son s&#305;n&#305;f
        &ouml;&#287;rencisi</span></p>
    <p class="c5 c2 c1"><span class="c1 c14">Kaynak: </span><span class="c1 c12"><a class="c10"
          href="https://www.google.com/url?q=http://www.alo183.gov.tr/index.html&amp;sa=D&amp;source=editors&amp;ust=1645824472153643&amp;usg=AOvVaw1ByjxiDlGMDSRYGbL3FeQ6">http://www.alo183.gov.tr/index.html</a></span>
    </p>
  </div>
  <div *ngSwitchCase="5">
    <p class="c3 c11"><span class="c5">&nbsp; &nbsp; &nbsp;21. Y&Uuml;ZYIL T&Uuml;RK&#304;YE&rsquo;S&#304;NDE
        &#350;&#304;DDET GER&Ccedil;E&#286;&#304;</span></p>
    <p class="c3"><span class="c2">&nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#350;iddetin her t&uuml;rl&uuml;s&uuml; insanl&#305;&#287;a
        hakarettir. Bu hakaretin &ouml;l&uuml;m, yaralanma, travma, fiziksel veya psikolojik rahats&#305;zl&#305;k
        gibi sonu&ccedil;lar&#305; do&#287;maktad&#305;r. &Ouml;zellikle kad&#305;nlara uygulanan &#351;iddet
        b&uuml;t&uuml;n toplumun kan&#305;n&#305; dondurmakta; &ccedil;ocuklara uygulanan &#351;iddet de bu
        &ccedil;ocuklar&#305;n ruhsal geli&#351;iminde derin yaralar b&#305;rak&#305;rken, onlar&#305;n ve
        dolay&#305;s&#305;yla da toplumun gelece&#287;ini olumsuz etkilemektedir. Bu yaz&#305;m&#305;zda, 2000
        y&#305;l&#305;ndan beri bilgisine ula&#351;t&#305;&#287;&#305;m&#305;z &#351;iddet
        &nbsp;vakalar&#305;n&#305;n say&#305;s&#305;na ve bunlar&#305;n sonu&ccedil;lar&#305;na ili&#351;kin veriler
        de&#287;erlendirilecektir.</span></p>
    <p class="c3"><span
        style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 601.70px; height: 337.33px;"><img
          alt="" src="./../../../../../assets/content_photos/image3.jpg"
          style="width: 601.70px; height: 337.33px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
          title=""></span></p>
    <p class="c3"><span class="c2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ele
        almam&#305;z gereken birinci veri grubu, &ouml;ld&uuml;r&uuml;len kad&#305;n say&#305;s&#305;d&#305;r. 2008
        y&#305;l&#305;ndan beri &#351;iddete kurban giden kad&#305;nlar&#305;m&#305;z&#305; anmak i&ccedil;in
        olu&#351;turulmu&#351; An&#305;t Saya&ccedil;, &ouml;len her bir kad&#305;n&#305;n birtak&#305;m
        ki&#351;isel bilgilerini, neden ve kim taraf&#305;ndan &ouml;ld&uuml;r&uuml;ld&uuml;&#287;&uuml;n&uuml;
        bilgilerimize sunan dijital an&#305;t platformudur. Haz&#305;rlad&#305;&#287;&#305;m&#305;z grafikte bu
        kaynaktaki veriler kullan&#305;lm&#305;&#351;, &ouml;nceki y&#305;llara ili&#351;kinse resmi makamlar&#305;n
        a&ccedil;&#305;klad&#305;&#287;&#305; rakamlar derlenerek bilginize sunulmu&#351;tur. Grafi&#287;e
        bakt&#305;&#287;&#305;m&#305;zda 2000&rsquo;li y&#305;llar&#305;n ba&#351;lar&#305;nda verilerde
        b&uuml;y&uuml;k dalgalanmalar olurken, son y&#305;llarda kad&#305;n cinayeti say&#305;lar&#305;n&#305;n
        istikrarl&#305; bir &#351;ekilde artmaya devam etti&#287;i g&ouml;r&uuml;lmektedir. De&#287;erlendirmek
        gerekirse son y&#305;llardaki istikrarl&#305; &ouml;l&uuml;m say&#305;lar&#305;, 2007 y&#305;l&#305;nda 1011
        &ouml;l&uuml;m meydana gelmi&#351; olmas&#305;ndan daha korkun&ccedil;tur. &Ccedil;&uuml;nk&uuml; mevzu
        bahis olan &#351;ey, kad&#305;n cinayetinin istikrarl&#305; bir &#351;ekilde
        yayg&#305;nla&#351;m&#305;&#351; olmas&#305;d&#305;r. Bu durum, cinayetlerin
        yayg&#305;nla&#351;mas&#305;n&#305;n tesad&uuml;f olmad&#305;&#287;&#305; izlenimini
        uyand&#305;rmaktad&#305;r. Bunlar&#305;n alt&#305;nda yatan nedenler ara&#351;t&#305;r&#305;lmal&#305; ve en
        k&#305;sa s&uuml;rede do&#287;ru ad&#305;mlar at&#305;larak, kad&#305;nlar&#305;n huzuru yeniden tesis
        edilmelidir.</span></p>
    <p class="c3"><span
        style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 601.70px; height: 337.33px;"><img
          alt="" src="./../../../../../assets/content_photos/image2.jpg"
          style="width: 601.70px; height: 337.33px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
          title=""></span></p>
    <p class="c3"><span class="c2">&nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Derledi&#287;imiz bir di&#287;er veri grubu,
        &ouml;ld&uuml;r&uuml;len &ccedil;ocuk say&#305;s&#305;d&#305;r. Bu &ccedil;ocuklar&#305;n bir
        k&#305;sm&#305; yukar&#305;da bahsetti&#287;imiz &#351;iddet kurban&#305; kad&#305;nlar&#305;n yan&#305;nda,
        onlarla birlikte &ouml;ld&uuml;r&uuml;len &ccedil;ocuklard&#305;r. &Ouml;ld&uuml;r&uuml;len ki&#351;inin
        &ccedil;ocuk olmas&#305; cezay&#305; artt&#305;ran bir hal iken her y&#305;l ortalama on
        &ccedil;ocu&#287;umuzun hayattan kopar&#305;lmas&#305; hepimizi deh&#351;ete d&uuml;&#351;&uuml;rmektedir.
        Ancak; kad&#305;na &#351;iddetle etkin m&uuml;cadele, &ccedil;ocuk &ouml;l&uuml;mlerini &ouml;nlemede de
        etkili olacakt&#305;r.</span></p>
    <p class="c3"><span class="c2">&nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&Ccedil;ocuklara uygulanan &#351;iddetlerin
        ba&#351;&#305;nda gelen, e&#287;itim hakk&#305;ndan yoksun b&#305;rakman&#305;n &uuml;zerinde ayr&#305;ca
        durmak gerekir. Bir &ccedil;ocu&#287;u ki&#351;isel geli&#351;imini tamamlama imkan&#305;ndan yoksun
        b&#305;rak&#305;p, &uuml;zerine kald&#305;ramayaca&#287;&#305; y&uuml;kler y&uuml;klemek, &ccedil;ocuk
        ya&#351;ta &ccedil;al&#305;&#351;maya mecbur k&#305;lmak, hatta kimsesiz &ccedil;ocuklar&#305; dilendirmek
        suretiyle onlardan istifade etmek ne yaz&#305;k ki i&ccedil;inde bulundu&#287;umuz &ccedil;a&#287;&#305;
        daha da korkun&ccedil; hale getirmektedir.</span></p>
    <p class="c3"><span
        style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 601.70px; height: 337.33px;"><img
          alt="" src="./../../../../../assets/content_photos/image1.jpg"
          style="width: 601.70px; height: 337.33px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
          title=""></span></p>
    <p class="c3"><span class="c2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Genel
        olarak &#351;iddet verilerinin de&#287;erlendirmesine gelecek olursak; pandeminin etkisiyle 2020
        y&#305;l&#305;nda bir d&uuml;&#351;&uuml;&#351; g&ouml;r&uuml;lse de son y&#305;llarda s&uuml;ratli bir
        art&#305;&#351;&#305;n meydana geldi&#287;i a&ccedil;&#305;kt&#305;r. Pandemide, insanlar daha &ccedil;ok
        evdeyken bu say&#305;n&#305;n d&uuml;&#351;mesi, kad&#305;nlar&#305;n ve &ccedil;ocuklar&#305;n
        d&#305;&#351;ar&#305;da g&uuml;vende olamad&#305;&#287;&#305;na i&#351;aret etmektedir. Bununla birlikte bu
        d&ouml;nemde de asla az&#305;msanamayacak d&uuml;zeyde olan &#351;iddet say&#305;s&#305;, bu vakalar&#305;n
        &ccedil;o&#287;unun aile i&ccedil;i &#351;iddet olarak ger&ccedil;ekle&#351;ti&#287;ini g&ouml;stermektedir.
        &Ouml;ncelikle m&uuml;cadele edilmesi gereken &#351;iddet t&uuml;r&uuml; aile i&ccedil;i &#351;iddettir.
        Zira ailesinin yan&#305;nda g&uuml;vende olmayan bir insan&#305;n d&#305;&#351;ar&#305;da g&uuml;vende
        olmas&#305; beklenemez.</span></p>
    <p class="c3"><span class="c2">&nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unutulmamal&#305;d&#305;r ki elde etti&#287;imiz bu veriler
        yaln&#305;zca resmi bilgilere yans&#305;m&#305;&#351; olanlard&#305;r. Bilmedi&#287;imiz,
        duymad&#305;&#287;&#305;m&#305;z binlerce yard&#305;m &ccedil;&#305;&#287;l&#305;&#287;&#305; kapal&#305;
        kap&#305;lar arkas&#305;nda birer f&#305;s&#305;lt&#305;ya d&ouml;n&uuml;&#351;mektedir. &#350;iddetle
        m&uuml;cadele i&ccedil;in hepimizin &ouml;ncelikle &uuml;zerine d&uuml;&#351;en, i&#351;itti&#287;imiz
        yard&#305;m &ccedil;&#305;&#287;l&#305;klar&#305;n&#305;, i&ccedil;inde bulunduklar&#305; duvarlar&#305;n
        d&#305;&#351;&#305;na ta&#351;&#305;makt&#305;r. &lsquo;Peki ama, nas&#305;l?&rsquo; diyorsan&#305;z Destina
        olarak bizim amac&#305;m&#305;z, size bu konuda yol g&ouml;stermek, &#305;&#351;&#305;k
        tutmakt&#305;r.</span></p>
    <p class="c3 c8"><span class="c2"></span></p>
    <p class="c3"><span class="c5">Kaynak&ccedil;a:</span></p>
    <ul class="c6 lst-kix_k8mtx21txo8a-0 start">
      <li class="c3 c9 li-bullet-0"><span class="c7"><a class="c0"
            href="https://www.google.com/url?q=https://bianet.org/kadin/bianet/133354-bianet-siddet-taciz-tecavuz-cetelesi-tutuyor&amp;sa=D&amp;source=editors&amp;ust=1645822134815494&amp;usg=AOvVaw2WiaQX1cc4mX0VrAnHw7KI">https://bianet.org/kadin/bianet/133354-bianet-siddet-taciz-tecavuz-cetelesi-tutuyor</a></span><span
          class="c2">&nbsp;</span></li>
      <li class="c3 c9 li-bullet-0"><span class="c7"><a class="c0"
            href="https://www.google.com/url?q=http://kadincinayetlerinidurduracagiz.net/kategori/veriler&amp;sa=D&amp;source=editors&amp;ust=1645822134816175&amp;usg=AOvVaw1oiMYAXyCi1rqzS_TLbXZY">http://kadincinayetlerinidurduracagiz.net/kategori/veriler</a></span><span
          class="c2">&nbsp;</span></li>
      <li class="c3 c9 li-bullet-0"><span class="c7"><a class="c0"
            href="https://www.google.com/url?q=https://morcati.org.tr/yayinlarimiz/faaliyet-raporlari/&amp;sa=D&amp;source=editors&amp;ust=1645822134816760&amp;usg=AOvVaw3QTFyRH9sQ9WZjH58GdZp0">https://morcati.org.tr/yayinlarimiz/faaliyet-raporlari/</a></span><span
          class="c2">&nbsp;</span></li>
      <li class="c3 c9 li-bullet-0"><span class="c7"><a class="c0"
            href="https://www.google.com/url?q=http://anitsayac.com/&amp;sa=D&amp;source=editors&amp;ust=1645822134817286&amp;usg=AOvVaw01Zq8BWez9sX9y_LbvODN1">http://anitsayac.com/</a></span><span
          class="c2">&nbsp;</span></li>
      <li class="c3 c9 li-bullet-0"><span class="c7"><a class="c0"
            href="https://www.google.com/url?q=https://tr.wikipedia.org/wiki/T%25C3%25BCrkiye%2527de_kad%25C4%25B1n_cinayeti&amp;sa=D&amp;source=editors&amp;ust=1645822134817776&amp;usg=AOvVaw0c5LrfPecCzESnhOjptRKt">https://tr.wikipedia.org/wiki/T%C3%BCrkiye%27de_kad%C4%B1n_cinayeti</a></span><span
          class="c2">&nbsp;</span></li>
      <li class="c3 c9 li-bullet-0"><span class="c7"><a class="c0"
            href="https://www.google.com/url?q=https://www.pa.edu.tr/Upload/editor/files/Kadin_Cinayetleri_Rapor.pdf&amp;sa=D&amp;source=editors&amp;ust=1645822134818281&amp;usg=AOvVaw3UnVH8E8IYW4vg_T5jk6jd">https://www.pa.edu.tr/Upload/editor/files/Kadin_Cinayetleri_Rapor.pdf</a></span><span
          class="c2">&nbsp;</span></li>
    </ul>
  </div>
  <div *ngSwitchCase="6">
    <p class="c6"><span class="c5 c1">Kad&#305;na Y&ouml;nelik &#350;iddet ve Türleri</span></p>
    <p class="c6"><span class="c5 c0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Irk ve
        etnik k&ouml;kenden ba&#287;&#305;ms&#305;z olarak t&uuml;m toplumlarda g&ouml;r&uuml;len ve
        sars&#305;c&#305; etkilere sahip olan kad&#305;na y&ouml;nelik &#351;iddet bir insan haklar&#305; ihlalidir.
        En s&#305;k g&ouml;r&uuml;len insan haklar&#305; ihlali olmas&#305;n&#305;n yan&#305; s&#305;ra devletlerin
        &ouml;zel alan&#305;n dokunulmazl&#305;&#287;&#305; ilkesine dayanarak m&uuml;dahaleden
        ka&ccedil;&#305;nmas&#305; sonucunda &ouml;nlenmesi zorla&#351;maktad&#305;r. &nbsp;Bir kad&#305;na
        s&#305;rf kad&#305;n oldu&#287;u i&ccedil;in y&ouml;neltilen, kad&#305;n&#305; inciten ve zarar veren
        eylemler veya bu eylemlere y&ouml;nelik tehdit, zorlama ya da keyfi olarak &ouml;zg&uuml;rl&uuml;kten yoksun
        b&#305;rakma olarak tan&#305;mlanmaktad&#305;r. Ma&#287;durlar s&#305;rf cinsiyetleri sebebiyle anne
        karn&#305;ndan itibaren &#351;iddete maruz kalmaya ba&#351;layabilmektedir. &nbsp;Do&#287;acak
        &ccedil;ocu&#287;un cinsiyetinin k&#305;z olmas&#305; sebebiyle duyulan ho&#351;nutsuzluk, erkek
        &ccedil;ocuk do&#287;uramad&#305;&#287;&#305; i&ccedil;in kad&#305;nlar&#305;n
        a&#351;a&#287;&#305;lanmas&#305;, k&#305;z &ccedil;ocuklar&#305;n&#305; okula g&ouml;ndermeme, zorla
        evlendirme, i&#351; hayat&#305;na erkeklere k&#305;yasla alt pozisyonlarda ba&#351;lama, aile i&ccedil;inde
        ve d&#305;&#351;&#305;nda sald&#305;r&#305;lara maruz kalma ve namus cinayetleri kad&#305;na y&ouml;nelik
        &#351;iddet bi&ccedil;imlerindendir. &#350;iddetin uygulay&#305;c&#305;lar&#305; genellikle e&#351;,
        sevgili, ebeveyn, erkek karde&#351;ler, di&#287;er aile &uuml;yeleri, patronlar ve g&uuml;&ccedil; sahibi
        erkekler olmaktad&#305;r. Toplumda erkek taraf&#305;ndan uygulanan &#351;iddetin kad&#305;na kar&#351;&#305;
        g&uuml;&ccedil; g&ouml;sterme arac&#305; olarak normal kabul edilmesi, medyan&#305;n olumsuz etkileri,
        sorunlar&#305;n &ccedil;&ouml;z&uuml;m&uuml;ne ili&#351;kin etkili becerilerin olmay&#305;&#351;&#305; ve
        ileti&#351;im eksikli&#287;i &#351;iddetin sebepleri olarak kar&#351;&#305;m&#305;za
        &ccedil;&#305;kmaktad&#305;r.</span></p>
    <p class="c6"><span class="c5 c0">&nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#350;iddet denilince akla ilk olarak fiziksel &#351;iddet
        gelse de psikolojik (duygusal), cinsel ve ekonomik &#351;iddet t&uuml;rleri de g&ouml;z ard&#305;
        edilmemelidir. &Ccedil;&uuml;nk&uuml; &#351;iddet t&uuml;rleri birbirleri ile ili&#351;kilidir ve bir arada
        g&ouml;r&uuml;lebilirler. &nbsp;</span></p>
    <p class="c6"><span class="c1">Fiziksel &#350;iddet: &nbsp;</span><span class="c5 c0">Kaba kuvvetin kar&#351;&#305;
        taraf&#305; sindirmek ve korkutmak amac&#305;yla kullan&#305;lmas&#305;d&#305;r. Ki&#351;ide neden
        oldu&#287;u ac&#305; ve g&ouml;zle g&ouml;r&uuml;lebilir hasar d&#305;&#351;ar&#305;dan fark edilmesini
        kolayla&#351;t&#305;rmaktad&#305;r. Bu sebeple de tan&#305;mlanmas&#305; kolay ve en &ccedil;ok g&uuml;ndeme
        gelen &#351;iddet t&uuml;r&uuml;d&uuml;r. &nbsp;&#304;tmek, tokat atmak, &#305;s&#305;rmak, bo&#287;maya
        &ccedil;al&#305;&#351;mak, tekmelemek, yumruklamak, e&#351;ya f&#305;rlatmak, gebeyken hassas b&ouml;lgelere
        vurmak, yakmak, &#351;iddetli sald&#305;r&#305;n&#305;n neden oldu&#287;u d&uuml;&#351;&uuml;k,
        kad&#305;n&#305;n elbisesini y&#305;rtmak, kad&#305;n&#305; yata&#287;a ba&#287;lamak ve
        &nbsp;bo&#287;az&#305;n&#305; s&#305;kmak gibi fiziksel g&uuml;c&uuml;n kullan&#305;ld&#305;&#287;&#305;
        durumlar&#305; kapsamaktad&#305;r. </span></p>
    <p class="c6"><span class="c1">Cinsel &#350;iddet: </span><span class="c5 c0">Genellikle kad&#305;nlar&#305;n
        yak&#305;n partnerleri taraf&#305;ndan maruz b&#305;rak&#305;ld&#305;klar&#305;, cinselli&#287;in bir
        tehdit, sindirme ve kontrol etme arac&#305; olarak kullan&#305;ld&#305;&#287;&#305; &#351;iddet
        t&uuml;r&uuml;d&uuml;r. Erke&#287;in, partnerinin duygu ve d&uuml;&#351;&uuml;ncelerini hesaba
        katmaks&#305;z&#305;n onu cinsel ili&#351;kiye zorlamas&#305; &#351;eklinde kar&#351;&#305;m&#305;za
        &ccedil;&#305;kmaktad&#305;r. Temelinde erkeklerin bunu kendisine verilmi&#351; bir hak olarak
        g&ouml;rmelerine neden olan geleneksel inan&ccedil;lar yatmaktad&#305;r. &nbsp; Kad&#305;n&#305;n
        r&#305;zas&#305; olmamas&#305;na ra&#287;men zorla ili&#351;kiye girmek, kaba kuvvet kullanarak birlikte
        olmak, cinsel ili&#351;ki esnas&#305;nda istenmeyen pozisyonlara zorlamak, cinsel organa zarar vermek,
        s&uuml;rekli aldat&#305;lmak ve gebe kalmaya zorlamak cinsel &#351;iddet kapsam&#305;nda
        de&#287;erlendirilmektedir. Cinsel &#351;iddet s&#305;kl&#305;kla fiziksel ve psikolojik &#351;iddet ile
        birlikte g&ouml;r&uuml;lmektedir. </span></p>
    <p class="c6"><span class="c1">Psikolojik (Duygusal) &#350;iddet: </span><span class="c0">Genellikle tehdit unsurunu
        i&ccedil;eren ve duygular&#305;n korkutma, sindirme, kontrol etme gibi ama&ccedil;larla bask&#305;
        alt&#305;nda tutuldu&#287;u &#351;iddet t&uuml;r&uuml;d&uuml;r. </span><span class="c1">&nbsp;</span><span
        class="c5 c0">D&#305;&#351;ar&#305;dan fark edilebilir izlerin bulunmamas&#305; nedeniyle fiziksel ve cinsel
        &#351;iddete g&ouml;re daha az ciddiye al&#305;nmas&#305;na ra&#287;men &nbsp;fiziksel &#351;iddetten
        &ccedil;ok daha kal&#305;c&#305; hasarlar meydana getirdi&#287;i ve &ccedil;o&#287;unlukla fiziksel ve
        cinsel &#351;iddete e&#351;lik etti&#287;i bilinmektedir. Alay etme, hakaret etme, su&ccedil;lama, kaba
        kuvvet uygulamak i&ccedil;in tehdit etme, k&uuml;&ccedil;&uuml;k d&uuml;&#351;&uuml;rme, s&uuml;rekli
        ele&#351;tirme, sadakatsizlik, ihmal etme gibi fiillere ek olarak eve kapatma, odaya kilitleme gibi
        &nbsp;ki&#351;iyi &ouml;zg&uuml;rl&uuml;&#287;&uuml;nden yoksun b&#305;rakma su&ccedil;unu
        olu&#351;turabilecek eylemleri de kapsamaktad&#305;r. Etkileri eylemin akabinde ger&ccedil;ekle&#351;mese de
        &#351;iddetin oran&#305;yla ve zamanla ilgili olarak kendisini g&ouml;stermektedir. </span></p>
    <p class="c6"><span class="c1">Ekonomik &#350;iddet: </span><span class="c5 c0">Ekonomik kaynaklar&#305;n kad&#305;n
        &uuml;zerinde bir yapt&#305;r&#305;m arac&#305; olarak kullan&#305;lmas&#305; ve kad&#305;n&#305; kontrol
        alt&#305;na almak ya da cezaland&#305;rmak i&ccedil;in ekonomik anlamda kendine ba&#287;&#305;ml&#305; hale
        getiren davran&#305;&#351;lard&#305;r. Toplumsal cinsiyet e&#351;itsizli&#287;inin beraberinde
        getirdi&#287;i g&uuml;&ccedil; ili&#351;kilerinin bir sonucu olarak kar&#351;&#305;m&#305;za
        &ccedil;&#305;kmakta ve kad&#305;n&#305; ekonomik a&ccedil;&#305;dan erke&#287;e ba&#287;&#305;ml&#305;
        k&#305;lmaya y&ouml;nelik i&ccedil;selle&#351;tirilmi&#351; roller fark&#305;na var&#305;lmas&#305;n&#305;n
        &ouml;n&uuml;ne ge&ccedil;mektedir. Kad&#305;n&#305;n bir i&#351; veya meslekle
        u&#287;ra&#351;mas&#305;n&#305;n engellenmesi, bir i&#351; veya mesle&#287;i yapmaya zorlanmas&#305;,
        i&#351; ya&#351;am&#305;nda ilerlemesinin engellenmesi, mal ve paras&#305;n&#305;n elinden
        al&#305;nmas&#305;, sat&#305;n alma hakk&#305;n&#305;n engellenmesi ve &nbsp;evin masraflar&#305;n&#305;n
        kar&#351;&#305;lanmamas&#305; ekonomik &#351;iddet kapsam&#305;nda ele al&#305;nmaktad&#305;r. </span></p>
    <p class="c4"><span class="c5 c0"></span></p>
    <p class="c4"><span class="c5 c0"></span></p>
    <p class="c6"><span class="c0">Gizem &Ouml;zkan, Kad&#305;na Y&ouml;nelik &#350;iddet- Aile &#304;&ccedil;i
        &#350;iddet ve Konuya &#304;li&#351;kin Uluslararas&#305; Metinler &Uuml;zerine Bir
        &#304;nceleme,</span><span class="c0"><a class="c2"
          href="https://www.google.com/url?q=https://dergipark.org.tr/tr/download/article-file/744941&amp;sa=D&amp;source=editors&amp;ust=1645822238875127&amp;usg=AOvVaw1uhtGlGtkRbajZiw0e4GNk">&nbsp;</a></span><span
        class="c8 c0"><a class="c2"
          href="https://www.google.com/url?q=https://dergipark.org.tr/tr/download/article-file/744941&amp;sa=D&amp;source=editors&amp;ust=1645822238875533&amp;usg=AOvVaw0Ro200knf1zgoIV8g7Kh2U">https://dergipark.org.tr/tr/download/article-file/744941</a></span>
    </p>
    <p class="c6"><span class="c0">Hande &Ccedil;al&#305;&#351;kan, Do&ccedil;. Dr. Emrah &#304;smail &Ccedil;evik,
        &ldquo;Kad&#305;na Y&ouml;nelik &#350;iddetin Belirleyicileri: T&uuml;rkiye &Ouml;rne&#287;i,</span><span
        class="c0"><a class="c2"
          href="https://www.google.com/url?q=http://dergipark.gov.tr/download/article-file/516329&amp;sa=D&amp;source=editors&amp;ust=1645822238875895&amp;usg=AOvVaw37xGzJbio1i4lrSX-X1uqG">&nbsp;</a></span><span
        class="c0 c8"><a class="c2"
          href="https://www.google.com/url?q=http://dergipark.gov.tr/download/article-file/516329&amp;sa=D&amp;source=editors&amp;ust=1645822238876090&amp;usg=AOvVaw1qNcYfypf-Eudv9oA5sDSP">http://dergipark.gov.tr/download/article-file/516329</a></span>
    </p>
    <p class="c6"><span class="c0">&nbsp;Hasret Ozan A&ccedil;&#305;kg&ouml;z, Zonguldak &#304;l Merkezinde Kad&#305;na
        Y&ouml;nelik Aile &#304;&ccedil;i &#350;iddetin Yayg&#305;nl&#305;&#287;&#305;, &#350;iddet T&uuml;rleri,
        &#350;iddet Alg&#305;s&#305; Ve Kad&#305;nlar&#305;n &#350;iddete Y&ouml;nelik Tutumlar&#305;</span></p>
    <p class="c6"><span class="c5 c0">UN (United Nations), Declaration on The Elimination of Violence Against Women.
      </span></p>
    <p class="c4"><span class="c5 c0"></span></p>
    <p class="c4"><span class="c5 c1"></span></p>
    <p class="c6"><span class="c0 c5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
  </div>
</div>
