<div class="row">
  <div class="col">
    <p>Web sitemizle olan etkileşiminizi görmek için çerezler kullanılmaktadır. Kabul etmeniz halinde bu tür çerezleri
      kullanmamıza izin vermiş olursunuz. Daha detaylı bilgi için çerez gizlilik politikamızı inceleyebilirsiniz. <a
        routerLink="/pages/cookie">Çerez
        Politikası</a></p>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary" (click)="reject()">Reddet</button>
      <button class="ms-3 btn btn-destina" (click)="accept()">Kabul Et</button>
    </div>
  </div>
</div>
